*~
.ipynb_checkpoints/
*ltximg*

*#
.#test.lisp

*.bbl
*.synctex
*.tex
*latex-*
zoom-codes.txt
.aux
.log
.db

w2025/*.log

*.org~
shortNotesToSelf.org
to-dos.org

*.dep
*.zo

/admin

/pdp
/w2025-book
/w2025/auto/

.Rhistory
junk-drawer/

__pycache__/

*.fasl

sandbox/
wip/
